body{
    background-color: white;
    font-family: Palatino Linotype;
    text-align: center;
   
    
}
.p{
    font-size: 60px;
}
.intro{
    text-align: center;  
    font-family: Palatino Linotype;
    margin:50px;
    font-weight: normal;
}

.h1
{
    margin:100px;
}
.upper{
    text-align: center;
    font-family: cursive;
}
.footer{
    
    background-color:rgb(217,217,217);
    height:300px;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }